@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;200&display=swap");
html {
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
body {
  background-color: #0d2134;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 99vw;
  font-size: 2.0em;
}
header {
  height: 5em;
}
header .navbar {
  min-height: inherit;
}
.header .container {
}
.navbar-title {
  background-image: url("../img/iqiper-logo.png");
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  margin: 3px 10px 5px;
  text-indent: -99999px;
}
.navbar-header {
}
.navbar-pf {
  background-color: #0d2134;
  border: 0 ;
  border-radius: 0;
  border-top: 0;
  margin-bottom: 0;
  min-height: 0;
}
.navbar-pf .navbar-utility {
}
.navbar-pf .navbar-utility > li > a {
  border-color: #0d2134;
  color: #BDD9BF !important;
  font-size: 1em;
}
.container {
  height: 100%;
  width: 100%;
  margin: auto;
}
.content-area {
  background-color: #2c3e50;
  height: fit-content;
  width: inherit;
  margin: auto;
  margin-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  border-radius: 25px;
}
.margin-bottom {
  margin-bottom: 10px;
}
/* Sidebar */
.bs-sidebar ul li a {
  font-size: 1.1em;
  padding-left: 25px;
  color: #BDD9BF;
  line-height: 28px;
  display: block;
}
.bs-sidebar ul li a:hover,
.bs-sidebar ul li a:focus {
  text-decoration: none;
  color: #ffc857;
}
.bs-sidebar ul li.active a {
  color: #ffc857;
  background-color: #2c3e50;
  font-weight: bold;
  background-image: url(../img/icon-sidebar-active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.bs-sidebar ul li.active a:hover {
  border-right: none;
}

/* CONTENT AREA */

.content-area h2 {
  font-family: "Roboto", sans-serif;
  color: #ffc857;
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 25px;
}
.subtitle {
  margin: 1em;
  color: #BDD9BF;
  width: auto;
}
.required {
  color: #cb2915;
}
.alert {
  margin-top: 30px;
  margin-bottom: 0;
}
.feedback-aligner .alert {
  background-position: 1.27273em center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border-width: 1px;
  color: #4d5258;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0;
  padding: 0.909091em 3.63636em;
  position: relative;
  text-align: left;
}
.alert.alert-success {
  background-color: #0d2134;
  border-color: #4b9e39;
  border-radius: 20px;
  color: #cac6c6;
}
.alert.alert-error {
  background-color: #0d2134;
  border-color: #842323;
  color: #cac6c6;
  border-radius: 20px;
}
.alert.alert-warning {
  background-color: #0d2134;
  border-color: #f17528;
  border-radius: 20px;
  color: #cac6c6;
}
.alert.alert-info {
  background-color: #0d2134;
  border-color: #5994b2;
  border-radius: 20px;
  color: #cac6c6;
}
.form-horizontal {
  border-top: 1px solid #ffc857;
  padding-top: 23px;
  width: auto;
  margin: auto;
}
input.form-control {
  background-color: #0d2134;
  border-radius: 15px;
  border-color: #0d2134;
  color: #ffc857;
  font-size: 1em;
  height: 45px;
  padding: 0px 10px 5px 10px;
}
input.form-control:focus,
input.form-control:hover {
  border-color: #BDD9BF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(206 181 0 / 38%);
  color: #ffc857;
}
input.form-control[disabled],
input.form-control[disabled]:hover,
input.form-control[disabled]:focus {
  background-color: #0d2134;
  border-radius: 15px;
  border-color: #2c3e50;
  box-shadow: none;
  color: #BDD9BF;
}
.form-horizontal .control-label {
  color: #BDD9BF;
  line-height: 1.4em;
  padding-top: 5px;
  position: relative;
  text-align: right;
  width: 100%;
}
.form-group {
  position: relative;
}
.control-label + .required {
  position: absolute;
  right: -2px;
  top: 0;
}
#kc-form-buttons {
  text-align: right;
  margin-top: 10px;
}
#kc-form-buttons .btn-primary {
  float: right;
  margin-left: 8px;
}

/* OVERRIDING EXISITNG VAR */

.btn-iqiper-primary {
  background-color: #ffc857;
  color: #0D2134;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 10px 25px 10px 25px;
}
.btn-iqiper-default {
  background-color: #BDD9BF;
  color: #0D2134;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 10px 25px 10px 25px;
}

/* Authenticator page */

ol {
  padding-left: 40px;
  color: #BDD9BF;
}
ol li {
  font-size: 1.1em;
  margin-bottom: 10px;
  position: relative;
}
ol li img {
  margin-top: 15px;
  margin-bottom: 5px;
  border: 1px solid #eee;
}
hr + .form-horizontal {
  border: none;
  padding-top: 0;
}
.kc-dropdown {
  position: relative;
}
.kc-dropdown > a {
  display: block;
  padding: 11px 10px 12px;
  line-height: 12px;
  font-size: 1.0em;
  color: #fff !important;
  text-decoration: none;
}
.kc-dropdown > a::after {
  content: "\2c5";
  margin-left: 4px;
}
.kc-dropdown:hover > a {
  background-color: rgba(0, 0, 0, 0.2);
}
.kc-dropdown ul li a {
  padding: 1px 11px;
  font-size: 1.0em;
  color: #000 !important;
  border: 1px solid #fff;
  text-decoration: none;
  display: block;
  line-height: 20px;
}
.kc-dropdown ul li a:hover {
  color: #4d5258;
  background-color: #d4edfa;
  border-color: #b3d3e7;
}
.kc-dropdown ul {
  position: absolute;
  z-index: 2000;
  list-style: none;
  display: none;
  padding: 5px 0px;
  margin: 0px;
  background-color: #fff !important;
  border: 1px solid #b6b6b6;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  min-width: 100px;
}
.kc-dropdown:hover ul {
  display: block;
}
#kc-totp-secret-key {
  border: 1px solid #eee;
  font-size: 1.2m;
  padding: 10px;
  margin: 50px 0;
}
.bs-sidebar {
  margin: auto;
  background-color: #2c3e50;
  width: 100%;
  z-index: 20;
}
.bs-sidebar .col-sm-3 {
  background-color: #2c3e50;
}
.bs-sidebar ul {
  display: flex ;
  justify-content: space-between;
  flex-direction: row;
  font-size: 0.9em;
  line-height: 3em ;
  padding: 0em 0em 0em 0em ;
  color:   #3c3c3b;
  list-style: none;
  padding-left: 12px;
}
.bs-sidebar ul li {
  margin: 1em;
}

/* TABLES */
thead a {
  color: #ffc857;
  text-decoration: none;
}
tbody a {
  color: #ffc857;
  text-decoration: none;
}
table>thead theadtr td {
  color: #BDD9BF !important;
  background-color: 0d2134;
}
tbody tr td {
  color: #BDD9BF !important;
  background-color: 0d2134;
}

/* Buttons */

.btn-default {
  background-color: #ffc857;
  color: #0D2134;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 10px 25px 10px 25px;
  background-image: none;
}

.col-sm-2 {
width: 30%;
}
.col-sm-10 {
  width: 70%;
}